/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;
$pink: #ffe6ee;
$purple: #6269f2;
$purple_tone_two: #c0c3fa;
$purple_tone_three: #001081;
$yellow: #F9F871;
$shadow: #D699CE;
$pink_tone_two: #FFC2BE;
$main_title: 64px;
$title: 48px;

/* Components */
